@media screen and  (max-width: 1400px){
    #profile {
        height: 82vh;
        margin-bottom: 6rem;
    }
    .about-details-container {
        flex-wrap: wrap;
    }
}
    

@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #profile,
    .section-container{
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    section-container {
        height: fit-content;
    }
    section {
        margin: 0 0.7rem 2rem 0.7rem;
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
        border-radius: 50%;
    }
    .section_text {
        gap: 0;
    }
    .about-details-container,
    .project-container {
        margin-top: 0;
    }
    .article-container {
        flex-direction: column;
        align-items: center;
    }
    
   
}
@media screen and (max-width: 768px){
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-details-container,
    .project-container,
    .contact-info-upper-container
   {
       flex-wrap: wrap;
    }
    .about-details-container
    {
        display:flex;
        flex-direction: column;
        justify-content: centar;
        align-content: center;
    }
    .text-container
    {
        padding: 0 1% 0 2%;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p1,
    .nav-links li a {
    font-size: 1rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container {
        width: auto;
        height: 46vh;
        justify-content: center;
    }
    .section_text_p1{
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    .project-containers {
        align-self: center;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .section_pic-container {
      display: flex;
      width: 400px;
      max-width: 400px;
      height: 400px;
      max-height: 400px;
      margin: auto;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
    }
  
    .section_pic-container img {
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 1;
    }
  
  }
  
  @media screen and (min-width:321px) and (max-width:768px){
    .section_pic-container {
        display: flex;
        width: 300px;
        max-width: 300px;
        height: 300px;
        min-height: 300px;
        margin: auto;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }
  .section_pic-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
            z-index: 1;
          }
   
          .contact-info-upper-container {
            display: flex;
           flex-direction: column;
           align-items: flex-start;
        }   
  }
  